.App {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 768px) {
    .App {
        max-width: 70%;
    }
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
header {
    position: relative;
}
h1 {
    text-align: center;
}

.add-quote-button {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 28px;
    border: 1px solid black;
    border-radius: 50%;
    width: 36px;
}
.Pagination {
    text-align: center;
}

.Pagination-button {
    padding: 12px;
    font-size: 16px;
}

@media (min-width: 768px) {
    .Pagination-button {
        padding: 6px;
        font-size: 14px;
    }
}

.active {
    font-size: 20px;
    font-weight: bold;
}
