.quotesWrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.quoteWrapper {
    transform: rotateZ(-2deg);
}
.quoteWrapper:nth-child(even) {
    transform: rotateZ(3deg);
}
.quoteWrapper:nth-child(3n) {
    transform: rotateZ(1deg);
}

.blur {
    filter: blur(3px) grayscale(75%);
    -webkit-filter: blur(3px) grayscale(75%);
}

.quoteBox {
    font-family: 'Reenie Beanie';
    font-size: 26px;
    background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    border: 1px solid #e8e8e8;
    border-top: 60px solid #fdfd86;
    border-bottom-right-radius: 60px 5px;
    padding: 0 9px;
    margin: 10px;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vw;
    max-height: 80vw;
    position: relative;
}
@media (min-width: 768px) {
    .quoteBox {
        min-width: 250px;
        max-width: 250px;
        min-height: 250px;
        max-height: 250px;
    }
}
.quoteBox:after {
    content: '';
    position: absolute;
    z-index: -1;
    right: -0px;
    bottom: 20px;
    width: 200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
.author {
    font-size: 18px;
    color: rgb(117, 117, 117);
}

blockquote {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}

.deleteQuote {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    width: 30px;
    float: right;
    margin-top: -45px;
}
.editQuote {
    position: absolute;
    bottom: 10px;
    border: none;
    background-color: transparent;
    width: 40px;
    margin-top: 5px;
    left: 8px;
}
